@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  color-scheme: light dark;
  /* both supported */
  --background-color: #FDFDFD;
  --background-color1: white;
  --background-color2: white;
  --background-gradient: #F7F7F7;
  --line-color: #CCC;
  --line-color2: black;
  --c1: #0969DA;
  --c2: #FEDC3D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0D1117;
    --background-color1: #181C28;
    --background-color2: #181C28;
    --background-gradient: #20293A;
    --line-color: #555;
    --line-color2: white;
    --c1: #FEDC3D;
    --c2: #FEDC3D;
  }
}

/*------ Basic formatting ------*/
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  font-size: 11.5pt;
  transition: 0.3s;
  color: black;
  background-color: var(--background-color);
}
body.dark-theme {
  color: #CCC;
  background-color: var(--background-color);
}

b {
  font-family: 'Open Sans';
  font-weight: 700;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}
@media screen and (min-width: 600px) {  /* for narrow displays */
  p {
    text-align: justify;
  }
}

div.main {
  margin: 0 auto;
  width: 95%;
  max-width: 900px;
  padding-top: 110px;
  padding-bottom: 50px;
}
div.pre-main {
  padding-left: 18px;
  padding-right: 5px;
}

/* h1 is site specific */

h2 {
  font-size: 28pt;
  padding-bottom: 15px;
  padding-top: 120px;
  font-family: 'Gotham';
  font-weight: 600;
}
.head-div {  /* if site is printed */
  page-break-after: avoid;
}

h3 {
  margin-top: 35px;
  font-weight: 300;
  font-size: 18pt;
}

a {
  color: var(--c1);
  cursor: pointer;
  transition: all 0.8s ease 0s;
  text-decoration: none;
}
a:hover {
  color: var(--c5);
  text-decoration: underline 1px;
}
body.dark-theme a {
  color: var(--c2);
  cursor: pointer;
}

ul {
  list-style: none;
}
ol {
  list-style: decimal-leading-zero;
}
ol li::marker {
  color: #999;
  font-weight: 300;
  font-size: 10pt;
}
body.dark-theme ol li::marker {
  color: white;
}
ol li:hover::marker {
  color: black;
}
body.dark-theme ol li:hover::marker {
  color: white;
}

#colorbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--c1);
  height: 5px;
  z-index: 20;
}
body.dark-theme #colorbar {
  background-color: var(--c2);
}
/*-----------------------------*/


h2 {
  padding: 6px 0px;  /* override above */
}
.h3-container {
  padding: 5px 0px;
  margin: 50px 0px 15px 0px;
  border-bottom: solid 2px var(--line-color2);
  transition: all 0.3s ease 0s;
}
.h3-container:hover {
  cursor: pointer;
  color: var(--c1);
}
.plus {
  display: none; /* By default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  float: right;
  padding-top: 6px;
  padding-right: 5px;
}
.minus {
  display: inline; /* By default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  float: right;
  padding-top: 6px;
  padding-right: 5px;
}



/*--- For light/dark toggle ---*/
button.light-dark-toggle {
  font-family: inherit;
  font-size: 16pt;
  display: inline;
  background-color: inherit;
  width: 35px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
  border: none;
}

body.dark-theme #sun {
  display: inline-block;
  color: var(--c2);
}

#sun {
  display: none;
}

body.dark-theme #moon {
  display: none;
}

#moon {
  display: inline-block;
  color: var(--c1);
}
/*-----------------------------*/



#btn-toggle {
  margin-bottom: 40px;
}

#btn-toggle a {
  text-decoration: none;
}

#btn-toggle a div {
  color: #CCC;
  font-size: 18pt;
  display: inline;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
  border: solid 1px var(--line-color);
  border-radius: 40px;
  padding: 7px 15px 5px 15px;
  background-color: var(--background-color1);
  margin: 0px;
  box-shadow: 0px 0px 4px #DDD;
}
body.dark-theme #btn-toggle div {
  color: #555;
  border: solid 1px var(--line-color);
  background-color: var(--background-color1);
  box-shadow: 0px 0px 4px #222;
}
#btn-toggle div span {
  padding-left: 5px;
}
body.dark-theme #sun {
  color: #CCC;
}
#sun {
  color: var(--c1);
}
body.dark-theme #moon {
  color: var(--c1);
}

ol {
  padding-left: 2rem;
}

ol li {
  padding-bottom: 2px;
}


a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.footer {
  margin-top: 70px;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 60px;
  font-size: 9pt;
  color: #666;
}
.footer-note {
  margin-bottom: 3px;
  margin-top: 6px;
}
.footer sub {
  font-size: 6pt;
}
.footer a {
  color: #666;
  text-decoration: none;
}
.footer a:hover {
  color: var(--c1);
}
body.dark-theme .footer {
  color: #AAA;
}
body.dark-theme .footer a {
  color: #AAA;
}
body.dark-theme .footer a:hover {
  color: var(--c1);
}

.footer .num {
  font-size: 8pt;
  font-weight: 600;
  color: var(--c1);
}

.footer p {
  padding-top: 3px;
  padding-bottom: 3px;
}

.footnote {
  text-decoration: none;
  font-weight: 600;
  font-size: 8pt;
}

.ref {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 10px;
  color: #EEE;
  border-left: solid #CCC 2px;
  color: #777;
}

.ref:hover {
  color: var(--a0);
  transition: ease 0.3s;
  border-left: solid var(--c1) 2px;
}

.footer .ref {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
}




/* For control components */
div.control {
  padding: 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 12px;
  width: 170px;
}

.textoutput {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  font-size: 11.5pt;
  line-height: 15pt;
}
.textoutput sup {
  font-size: 9pt;
  vertical-align: top;
  position: relative;
  top: -0.6em;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 110px;
  color: inherit;
}

body.dark-theme .textinput {
  border: 2px solid #444444;
  background-color: black;
}

.textinput:hover {
  border: 2px solid var(--c1);
  box-shadow: 0px 0px 4px #AAAAAA;
}

body.dark-theme .textinput:hover {
  border: 2px solid var(--c1);
  box-shadow: 0px 0px 4px #666666;
}

.textinput:focus {
  border: 2px solid var(--c1);
}

body.dark-theme .textinput:focus {
  border: 2px solid var(--c1);
}

.control-label {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9pt;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #999;
  font-size: 9pt;
}

.output-div {
  display: inline-block;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 9pt;
  height: 9pt;
  font-size: 10pt;
  border: 1.5px #BBB solid;
  border-radius: 50%;
  background: white;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

input[type="checkbox"]:checked:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  /* tick unicode. */
  color: var(--c1);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cbC {
  padding: 0px;
  margin: 0px;
}

#select-div {
  width: 200px;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: none;
  border-bottom: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 197px;
}
body.dark-theme select {
  border: none;
  border-bottom: 2px solid #444444;
  color: white;
}
select:hover {
  border-bottom: 2px solid var(--c1);
}
body.dark-theme select:hover {
  border-bottom: 2px solid var(--c1);
}
select:focus {
  border-bottom: 2px solid var(--c1);
}

option {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 400;
}



/* For plot elements */
.axis {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

.axis line {
  stroke: black;
}

body.dark-theme .axis line {
  stroke: white;
}

.axis path {
  stroke: black;
}

body.dark-theme .axis path {
  stroke: white;
}

.axis text {
  fill: black;
}

body.dark-theme .axis text {
  fill: white;
}

.legend-label {
  fill: black;
}

body.dark-theme .legend-label {
  fill: white;
}

.legend-circle {
  fill: #EDEDED;
  stroke: black;
}

body.dark-theme .legend-circle {
  fill: #222;
  stroke: white;
}

.plot-fill {
  fill: white;
}

body.dark-theme .plot-fill {
  fill: #111111;
}

body.dark-theme .diff-line {
  stroke: white;
}


